<footer id="footer" class="bg-primary border-0 mt-0">
	<hr class="bg-secondary opacity-1 m-0">
	<div class="container py-5">
		<div class="row text-center text-lg-left pt-4">
			<div class="col-lg-5 col-xl-4 mb-4 mb-lg-0">
				<h4 class="font-weight-bold	 text-4-5 mb-3">	CUSTOMER SERVICE</h4>
				<ul class="list list-unstyled d-flex flex-column flex-sm-row justify-content-sm-center justify-content-lg-start mb-0">
					<li class="line-height-3 mb-0">
						<a href="#" class="text-decoration-none text-color-hover-secondary">Help & FAQs</a>
					</li>
					<li class="line-height-3 border border-top-0 border-bottom-0 px-sm-3 mx-sm-3 mt-2 mt-sm-0 mb-0">
						<a href="#" class="text-decoration-none text-color-hover-secondary">Order Tracking</a>
					</li>
					<li class="line-height-3 mt-2 mt-sm-0 mb-0">
						<a href="#" class="text-decoration-none text-color-hover-secondary">Shipping & Delivery</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-3 col-xl-2 offset-xl-2 mb-4 mb-lg-0">
				<h4 class="font-weight-bold text-4-5 mb-3">SOCIAL MEDIA</h4>
				<ul class="social-icons social-icons-medium social-icons-clean-with-border mr-3 mb-0">
					<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
					<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
					<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
				</ul>
			</div>
			<div class="col-lg-4 col-xl-3 offset-xl-1">
				<h4 class="font-weight-bold text-4-5 mb-3">ORDER BY</h4>
				<div class="payment-cc payment-cc-no-hover-effect text-color-light justify-content-center justify-content-lg-start">
					<a href="#" class="">
						<img src="/assets/burgout/img/icons/talabatlogo.svg" height="16" alt="" class="">
					</a> / <a href="#" class="">
						<img src="/assets/burgout/img/icons/otloblogo.png" height="16" alt="" class="">
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright bg-transparent">
		<div class="container py-2">
			<hr class="bg-secondary opacity-1 m-0">
			<div class="row">
				<div class="col text-center py-4">
					<p class="text-color-light mb-0">Burgout © Copyright 2020. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
